/* Applique la police Meta */
@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2") format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
}

/* Titre principal centré */
main {
    text-shadow: none; 
    background-color: rgb(103, 175, 175);
    border-radius: 20px;
}

.main-title{
    padding : 10px;
    font-family: "Meta";
    font-weight: 50; 
    font-size: 4rem;
    text-align: left;
    margin-left: 10px;
    color : white;
    margin-bottom: -40px;
}

.container{
    display : flex;
    flex-direction: row;
}
.main-container{
    flex-grow: 1; 
    padding: 20px;
    margin-left: 70px; /* Ajoute une marge gauche pour que le contenu principal soit à droite de la side-bar */
    width: calc(100% - 90px); /* La largeur du conteneur principal est ajustée en fonction de la largeur de la barre latérale */
}

.side-bar {
    margin-left: 10px;
    margin-top: 10px;
    width: 80px;
    height: 99vh;
    background-color: rgb(103, 175, 175);
    border-radius: 20px;
    display: flex;            
    align-items: center;          
    flex-direction: column;  
    position: fixed;              
    top: 0;                       
    left: 0;                      
    z-index: 1000;                    
}

.logo img {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease-in-out; 
}

.logo img:hover {
    transform: scale(1.1); 
}

.button-container {
    height: 50vh;
    display: flex;               
    justify-content: center;     
    align-items: center;         
    flex-direction: column; 
    margin-top: 10vh;     
}

.button {
    height: 60px;
    width: 60px;             
    margin-top: 30px;
    display: flex;
    justify-content: center;  
    align-items: center;     
    background-color: rgb(103, 175, 175); 
    transition: background-color 0.4s ease; 
    border-radius: 20px;
}

.button:hover {
    background-color: #277272; 
}

#button1 img {
    max-width: 70%;
    max-height: 70%;
    filter: invert(1) grayscale(100%) brightness(100%);
}

#button2 img{
    max-width: 70%;
    max-height: 70%;
    filter: invert(1) grayscale(100%) brightness(100%);
}

#button3 img{
    max-width: 70%;
    max-height: 70%;
    filter: invert(1) grayscale(100%) brightness(100%);
}

.gradient-background {
    background-color: #d9d7d76c;
    display: flex;
    flex-direction: column;
  }

  .sub-container {
    display : flex;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    flex-direction: column;
}
.container-position{
    display: flex;
    flex-direction: line;
    margin-top: -15px;
}

.graph-container{
    flex : 2.8;
}

.graph-container-emg{
    flex : 2.8;
    border-radius: 20px;
    background-color: white;
    padding-right: 20px;
}

.graph-container-accel{
    flex : 2.8;
    border-radius: 20px;
    background-color: white;
    padding-right: 20px;
}
.graph-container1{
    border-radius: 20px;
    background-color: white;
}
.graph-container2{
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
}

.info-container{
    padding-left : 20px;
    background-color: white;
    flex : 1.2;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.sub-container h2 {
    font-size: 1.8rem;
    color: #333;
    font-family: "Meta";
    margin-left: 10px;
    background-color: white;
    border-radius: 20px;
    padding : 5px;
}

.sub-container h3 {
    font-size: 1.2rem;
    color: #333;
    font-family: "Meta";
    margin-left : 10px;
    margin-top: 10px;
}

canvas {
    width: 70% !important;  /* Le canvas occupe 100% de la largeur du container */
    height: auto !important; /* Hauteur auto pour préserver les proportions */
    max-width: 100%; /* Empêche l'élargissement du graphique */
}

#myChartPPG, #myChartPPG2, #myChartEMG, #myChartAccel {
    width: 100% !important;
    max-width: 900px; /* Limite la largeur maximale */
    height: auto !important;
    max-height: 400px; /* Limite la hauteur maximale */
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-size: 1.2rem;
}

.tooltip_big {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 22px;
    color: #333;
}

.tooltip-text {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff !important;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
    font-size: 16px;
}

.h4{
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff !important;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
    font-size: 16px;
}


.tooltip:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

.tooltip_big:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.Agraph-info-container p {
    font-size: 1rem;
    color: black;
    font-family: "Meta";
    margin: 5px 0; /* Ajout de marges pour espacer les paragraphes */
}

.info-container-accel p {
    font-size: 1rem;
    color: black;
    font-family: "Meta";
    margin: 5px 0; /* Ajout de marges pour espacer les paragraphes */
    text-align: center;
    font-weight: bold;
}


.text-container{
    background-color: white;
    border-radius: 5px;
    margin-right : 20px;
    padding: 10px;
    margin-top: 30px;
}

.gauge-container {
    text-align: center;
    margin-right: 20px;
    margin-top: 50px;
}

.gauge {
    width: 100%;
    background-color: #d4d4d4;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.gauge div {
    height: 24px;
    border-radius: 5px;
    transition: width 0.5s, background-color 0.5s;
}

#gauge-label {
    font-size: 1rem;
    color: #000000;
    font-family: "Meta";
}

.green-container, .red-container {
    font-family: "Meta";
    display: none; /* Masque les conteneurs par défaut */
    padding: 10px;
    margin: 10px;
    margin-right : 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.green-container {
    background-color: rgba(43, 84, 43, 0.599);
}

.red-container {
    background-color: rgba(146, 32, 32, 0.771);
}

.show {
    display: block; /* Affiche le conteneur */
}

.blank-container {
    font-family: "Meta";
    padding: 10px;
    margin: 10px;
    margin-right : 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    
}

.Bgraph-info-container {
    background-color: white;
    border-radius: 5px;
    margin-right : 20px;
    padding: 5px;
    font-family: "Meta";
    margin-top: 10px;
}

#correlation-percentage {
    font-size: 1.2em; /* Taille de la police */
    color: #333; /* Couleur du texte */
    font-weight: bold; /* Texte en gras */
    margin-top: 10px; /* Marge au-dessus du texte */
    display: block; /* Assure que l'élément est affiché comme un bloc */
}

@keyframes progress {
    0% { --percentage: 0; }
    100% { --percentage: var(--value); }
  }
  
  @property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  
  [role="progressbar"] {
    --percentage: var(--value);
    --size: 300px;
    animation: progress 2s 0.5s forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
  }
  
  [role="progressbar"]::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    --color-stop: calc(var(--percentage) * 1%); /* ajuste pourcentage pour remplir le cercle */
    --color-start: calc(var(--percentage) * 1% + 0.1%); /* ajustement léger pour éviter des chevauchements */
    --color: hsl(calc(var(--percentage) * 1.2), 100%, 50%);
    background: conic-gradient(from 0deg at 50% 50%, var(--color) 0%, var(--color) var(--color-stop), #adf var(--color-stop), #adf 100%);
    mask: radial-gradient(at 50% 50%, white 50%, transparent 50.5%);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(at 50% 50%, #0000 50%, #000 50.5%);
    -webkit-mask-mode: alpha;
  }
  
  [role="progressbar"]::after {
    content: attr(data-label);
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--color);
  }
  
  

  .legend-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Meta";
    margin-top: 30px;
    margin-left: 7px;
}

.legend-item {
    display: flex;
    align-items: center;
}

.color-box {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    border-radius: 2px;
}

  