/* Applique la police Meta */
@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2") format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
}

/* Titre principal centré */
main {
    font-size: 4rem;
    text-align: left;
    color: #d6f4f4; /* Couleur de remplissage */
    font-family: "Meta";
    font-weight: 50; /* Police encore plus fine */
    text-shadow: none; /* Suppression de l'ombre pour plus de netteté */
}

.gradient-background {
    background: linear-gradient(to bottom, #9dbebb, #62bebe);
    display: flex;
    flex-direction: column;
  }

  .sub-container {
    display : flex;
    margin: 20px 0;
    padding: 20px;
    background-color: #f4f4f46c;
    border-radius: 8px;
    flex-direction: column;
}
.container-position{
    display: flex;
    flex-direction: line;
}

.graph-container{
    flex : 2.8;
}

.info-container{
    padding-left : 20px;
    background-color: rgba(255, 255, 255, 0.486);
    flex : 1.2;
    border-radius: 8px;
}

.sub-container h2 {
    font-size: 1.8rem;
    color: #333;
    font-family: "Meta";
}

.sub-container h3 {
    font-size: 1.2rem;
    color: #333;
    font-family: "Meta";
}

canvas {
    width: 70% !important;  /* Le canvas occupe 100% de la largeur du container */
    height: auto !important; /* Hauteur auto pour préserver les proportions */
    max-width: 100%; /* Empêche l'élargissement du graphique */
}

#myChartPPG, #myChartPPG2, #myChartEMG, #myChartAccel {
    width: 100% !important;
    max-width: 900px; /* Limite la largeur maximale */
    height: auto !important;
    max-height: 400px; /* Limite la hauteur maximale */
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-size: 1.2rem;
}

.tooltip_big {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 22px;
    color: #333;
}

.tooltip-text {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff !important;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
    font-size: 16px;
}

.h4{
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff !important;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
    font-size: 16px;
}


.tooltip:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

.tooltip_big:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.info-container-accel p {
    font-size: 1rem;
    color: black;
    font-family: "Meta";
    margin: 5px 0; /* Ajout de marges pour espacer les paragraphes */
    text-align: center;
}


.text-container{
    background-color: #f4f4f46c;
    border-radius: 5px;
    margin-right : 20px;
    padding: 10px;
    margin-top: 30px;
}

.gauge-container {
    text-align: center;
    margin-right: 20px;
    margin-top: 50px;
}

.gauge {
    width: 100%;
    background-color: #d4d4d4;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.gauge div {
    height: 24px;
    border-radius: 5px;
    transition: width 0.5s, background-color 0.5s;
}

#gauge-label {
    font-size: 1rem;
    color: #000000;
    font-family: "Meta";
}

.green-container, .red-container {
    font-family: "Meta";
    display: none; /* Masque les conteneurs par défaut */
    padding: 10px;
    margin: 10px;
    margin-right : 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.green-container {
    background-color: rgba(79, 168, 79, 0.599);
}

.red-container {
    background-color: rgba(224, 114, 114, 0.884);
}

.show {
    display: block; /* Affiche le conteneur */
}
