<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Analyse de Performance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_analyse_performances.css') }}"> <!-- Vous pouvez ajouter un fichier CSS spécifique -->
</head>

<body class="gradient-background">

    <div class="main-container">
        <!-- Titre principal -->
        <main>Analyse de vos performances (test)</main>
        
        <!-- Sous-container 1 : Analyse du rythme cardiaque -->
        <div class="sub-container">
            <h2>Analyse du rythme cardiaque : </h2>
            <div class="container-position"> 
                <div class="graph-container">
                    <h3>Comparaison de votre session actuelle avec les autres sessions : </h3>
                    <!-- Espace pour le graphique -->
                    <canvas id="myChartPPG" width="600" height="400"></canvas>
                    <h3>Positionnement de votre session actuelle avec votre BPM au repos : </h3>
                    <canvas id="myChartPPG2" width="600" height="400"></canvas>
                </div>
                <div class="info-container">
                    <h3>Informations sur les graphiques :</h3>
                    <!-- Ajoutez ici les informations que vous souhaitez afficher -->
                </div>
            </div>
        </div>

        <!-- Sous-container 2 : Analyse de l'activité musculaire -->
        <div class="sub-container">
            <div class="container-position">
                <div class="graph-container">
                    <h2>Analyse de l'activité musculaire : </h2>
                    <!-- Espace pour le graphique -->
                    <canvas id="myChartEMG" width="600" height="400"></canvas>
                </div>
                <div class="info-container">
                    <h3>Informations sur les graphiques :</h3>
                    <!-- Ajoutez ici les informations que vous souhaitez afficher -->
                </div>
            </div>
        </div>

        <!-- Sous-container 3 : Analyse des mouvements -->
        <div class="sub-container">
            <div class="container-position">
                <div class="graph-container">
                    <h2>Analyse des mouvements : </h2>
                    <!-- Espace pour le graphique -->
                    <canvas id="myChartAccel" width="600" height="400"></canvas>
                </div>
                <div class="info-container">
                    <h3>Informations sur les graphiques :</h3>
                    <!-- Ajoutez ici les informations que vous souhaitez afficher -->
                </div>
            </div>
        </div>
        
    </div>

    <!-- Chargement du script Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Scripts spécifiques pour chaque graphique -->
    <script src="{{ url_for('static', filename='js/PPG_Analysed.js') }}"></script>
    <script src="{{ url_for('static', filename='js/EMG_Analysed.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Accel_Analysed.js') }}"></script>

</body>

</html>
