<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Historique de {{ player.pseudo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_historique_coach.css') }}">
    <style>
        body, main, .submain, p, a {
            font-family: "Meta", sans-serif;
        }
    </style>
</head>
<body class="gradient-background">
    <main>Historique des parties de {{ player.pseudo }}</main>
    <a href="{{ url_for('coaches') }}" class="back-link">Retour</a>
    <div class="fine-line"></div>
    <div class="container">
        <main class="submain">Liste des sessions</main>
        <div class="fine-line2"></div>

        <div class="space">
            <div class="session-list">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Nombre de parties</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Détails session</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if games %}
                            {% for game in games %}
                            <tr>
                                <td>{{ game.gamenumber }}</td>
                                <td>{{ game.starttime.strftime('%d/%m/%Y %H:%M') }}</td>
                                <td>{{ game.endtime.strftime('%d/%m/%Y %H:%M') if game.endtime else "En cours" }}</td>
                                <td>
                                    <a href="{{ url_for('detail_coach', session_id=game.session_id) }}" class="detail-link">
                                        Voir détails
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">Aucune session trouvée pour ce joueur.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
