<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Sleevy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_main_coach.css') }}">
</head>
<body class="gradient-background">
   
        <main>
        Bienvenue {{coach.ndccoach}}
        </main>
        <div class="fine-line"></div>
        <div class="container">
        <main class="submain">Liste de joueur
            <div class="fine-line2"></div>
        </main>
        
            <div class="space">
            <div class="player-list">
                <div class="header">
                    <span>Id</span>
                    <div class="separator"></div>
                    <span>Pseudo</span>
                    <div class="separator"></div>
                    <span>Sessions de la semaine</span>
                    <div class="separator"></div>
                    <span>Historique</span>
                    <div class="separator"></div>
                </div>
                <div class="players">
                    {% for player in coach_players %}
                    <div class="player">
                        <span>{{ player.idjoueur }}</span>
                        <div class="separator"></div>
                        <span>{{ player.pseudo }}</span>
                        <div class="separator"></div>
                        <span>{{ last_7_days_games.get(player.idjoueur, 0) }}</span>
                        <div class="separator"></div>
                        <span><a href="{{ url_for('index') }}">Historique</a></span>
                        <div class="separator"></div>
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
            </div>
    </div>
    <a href="{{ url_for('logout') }}"> Logout </a>
</body>
