<!DOCTYPE html>
<html lang="fr">

<head>
 
    <meta charset="UTF-8">
    <title>Sleevy</title>
</head>

<body>
    <div class="title">
        Sleevy
    </div>
    <div class="container custom-button-container">
        <button class="custom-button" onclick="window.location.href ='/portal_coach';">
            <div class="inner"></div>
            <span>Portail Coach</span>
        </button>
        <button class="custom-button" onclick="window.location.href ='/portal_joueur';">
            <div class="inner"></div>
            <span>Portail Joueur</span>
        </button>
    </div>
</body>

</html>