<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Sleevy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_main_coach.css') }}">
</head>
<body class="gradient-background">
   
        <main>
        Bienvenue {{coach.ndccoach}}
        </main>
        <div class="fine-line"></div>
        <div class="container">
        <div class="text">Liste de joueur</div>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Historique</th>
            </tr>
            {% for player in coach_players %}
            <tr>
                <td>{{ player.idjoueur }}</td>
                <td>{{ player.pseudo }}</td>
                <td>
                    <a href="{{ url_for('index') }}">Accès Historique</a>
                </td>
                
            </tr>
            {% endfor %}
        </table>
    </div>
    <a href="{{ url_for('logout') }}"> Logout </a>
</body>
