<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Sleevy - Coach</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_main_coach.css') }}">
    <style>
        body, main, .submain, p, a {
            font-family: "Meta", sans-serif;
        }
    </style>
</head>

<body class="gradient-background">
    
    <main>
        <div class="title">Bienvenue {{ coach.ndccoach }}</div>
        <div class="fine-line"></div>
    </main>

    <div class="container">
        <main class="submain">Liste des joueurs</main>
        <div class="fine-line2"></div>
        
        <div class="space">
            <div class="player-list">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Pseudo</th>
                            <th>Sessions de la semaine</th>
                            <th>Historique</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in coach_players %}
                        <tr>
                            <td>{{ player.idjoueur }}</td>
                            <td>{{ player.pseudo }}</td>
                            <td>{{ last_7_days_games.get(player.idjoueur, 0) }}</td>
                            <td>
                                <a href="{{ url_for('historique_coach', idjoueur=player.idjoueur) }}" class="detail-link">
                                    Voir historique
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Bouton Logout -->
    <div class="logout-container">
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>

</body>
</html>
