<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleevy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_main.css') }}">
</head>

<body class="gradient-background">  
    <main>
        Sleevy
    </main>
    <div class="form">
        <div class="container custom-button-container">
            <button class="btn" onclick="window.location.href='/portal_coach';">
                <span>Portail Coach</span>
            </button>
            <button class="btn" onclick="window.location.href='/portal_joueur';">
                <span>Portail Joueur</span>
            </button>
        </div>
    </div>
</body>

</html>
