<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Analyse de Performance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_analyse_performances.css') }}"> <!-- Vous pouvez ajouter un fichier CSS spécifique -->
</head>

<body class="gradient-background">
    <div class="container">
    <div class="side-bar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/mascotte.png') }}" alt="Mascotte">
        </div>
        <div class="button-container">
            <form action="{{ url_for('logout') }}" method="POST" class="logout-form">
                <button type="submit" class="button" id="button3">
                    <img src="{{ url_for('static', filename='images/house.png') }}" alt="Exit">
                </button>
            </form>
            <button class="button" id="button2" onclick="window.location.href='/joueurs';" >
                <img src="{{ url_for('static', filename='images/back.png') }}" alt="Setting">
            </button>
            <button class="button" id="button3" onclick="window.location.href='/portal_joueur';" >
                <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Exit">
            </button>
        </div>
    </div>
    <div class="main-container">
        <main>
            <div class="main-title"> Performances</div>
        </main>
        <!-- Sous-container 1 : Analyse du rythme cardiaque -->
        <div class="sub-container">
            <div class="container-position"> 
                <div class="graph-container">
                    <div class="graph-container1">
                        <h2>Activité cardiaque : </h2>
                    <h3>
                        Comparaison de votre session actuelle avec les autres sessions : 
                        <span class="tooltip">🛈
                            <span class="tooltip-text">
                                <p>Toutes vos sessions sont analysées et réparties dans des groupes de sessions en fonction de leurs similitudes.</p>
                                <p>Ce graphique représente le groupe dans lequel se situe votre session la plus récente (bleue) et permet de visualiser son évolution en fonction des autres sessions du même groupe (gris).</p>
                            </span>
                        </span>
                    </h3>
                    <!-- Espace pour le graphique -->
                    <canvas id="myChartPPG" width="600" height="400"></canvas>
                </div>
                <div class="graph-container2">
                    <h3>
                        Positionnement de votre session actuelle avec votre BPM au repos : 
                        <span class="tooltip">🛈
                            <span class="tooltip-text">
                                <p>Ce graphique représente l'évolution des variations des différentes sessions en fonction de votre rythme cardique au repos.</p>
                                <p>De même que le graphique précédent, il représente le groupe dans lequel se situe votre session la plus récente (bleue) comparée aux autres sessions du groupe (gris).</p>
                                <p>La courbe verte représente l'évolution des variations de votre rythme cardiaque au repos.</p>
                                <p>L'objectif de ce graphique est de visualiser l'écart de variation de vos sessions en fonction de votre rythme cardiaque au repos.</p>
                            </span>
                        </span>
                    </h3>
                    <canvas id="myChartPPG2" width="600" height="400"></canvas>
                </div>
                </div>
                <div class="info-container">
                    <h3>Pourcentage de variations entre votre session la plus récente et votre rythme cardiaque au repos :</h3>
                            <div class="Bgraph-info-container">
                                <p> Le pourcentage affiché ci-dessous quantifie les variations entre le rythme cardiaque de votre session la plus récente et votre rythme cardiaque au repos.</p>
                                <p> Plus le pourcentage est élevé, plus votre rythme à varié comparé à votre rythme cardiaque au repos.</p>
                                <p id="correlation-percentage"></p>
                                <div role="progressbar"></div>
                                <p> Un pourcentage de corrélation élevé indique que vous avez subit beaucoup de variations de votre rythme cardiaque lors de votre dernière session.</p>
                            </div>
                            <div class="legend-container">
                                <div class="legend-item">
                                    <div class="color-box" style="background-color: rgb(2, 205, 2);"></div>
                                    <span>Corrélation élevée : Peu de variations</span>
                                </div>
                                <div class="legend-item">
                                    <div class="color-box" style="background-color: yellow;"></div>
                                    <span>Corrélation moyenne : Quelques variations</span>
                                </div>
                                <div class="legend-item">
                                    <div class="color-box" style="background-color: orange;"></div>
                                    <span>Corrélation faible : Beaucoup de variations</span>
                                </div>
                                <div class="legend-item">
                                    <div class="color-box" style="background-color: red;"></div>
                                    <span>Aucune corrélation : Session très mouvementée</span>
                                </div>
                            </div>
                </div>
            </div>
            
        </div>

        <!-- Sous-container 2 : Analyse de l'activité musculaire -->
        <div class="sub-container">
            <div class="container-position">
                <div class="graph-container-emg">
                    <h2>Activité musculaire : 
                        <span class="tooltip_big">🛈
                            <span class="tooltip-text">
                                <p>Ce graphique représente l'activité musculaire de votre session la plus récente (blue).</p>
                                <p>La courbe verte correspond au moment où votre activité musculaire est croissante.</p>
                                <p>La courbe rouge correspond au moment où votre activité musculaire est décroissante.</p>
                                <p>Cela permet d'identifier les moments de la partie où vous *à définir*</p>
                            </span>
                        </span>
                    </h2>
                    <!-- Espace pour le graphique -->
                    <canvas id="myChartEMG" width="600" height="400"></canvas>
                </div>
                <div class="info-container">
                    <h3>Informations sur les graphiques :</h3>
                    <div class="green-container">
                        <div class="top-green-container">
                            <img id=valid src="{{ url_for('static', filename='images/valid.png') }}" alt="Exit">
                            <p id="top-green-text">Augmentation d'activité musculaire</p>
                        </div>
                        <div class="bottom-green-container"></div>
                    </div>
                    <div class="red-container">
                        <div class="top-red-container">
                            <img id=valid src="{{ url_for('static', filename='images/cross.png') }}" alt="Exit">
                            <p id="top-red-text">Diminution d'activité musculaire</p>
                        </div>
                        <div class="bottom-red-container"></div>
                    </div>
                    <div class="blank-container"></div>
                </div>
            </div>
        </div>

        <!-- Sous-container 3 : Analyse des mouvements -->
        <div class="sub-container">
            <div class="container-position">
                <div class="graph-container-accel">
                    <h2>Analyse des mouvements :
                        <span class="tooltip_big">🛈
                            <span class="tooltip-text">
                                <p>Ce graphique représente les mouvements verticaux de votre bras gauche.</p>
                                <p>Des valeurs élevées trop répétitives indiquent que vous avez enlevé la main de votre clavier.</p>
                                <p>C'est ce qui est appelé : Mouvements parasites. </p>
                            </span>
                        </span>
                    </h2>
                    <!-- Espace pour le graphique -->
                    <canvas id="myChartAccel" width="600" height="400"></canvas>
                </div>
                <div class="info-container">
                    <div class="info-container-accel">
                        <h3>
                            <span class="tooltip">🛈 Informations sur les graphiques :
                                <span class="tooltip-text">
                                    <h4>Le nombre maximal de mouvement parasites tolérés correspond au temps (en min) de votre partie. </h4>
                                </span>
                            </span>
                        </h3>
                        <div class="gauge-container">
                            <div class="gauge progress-moved">
                                <div id="gauge" class="progress-bar2"></div>
                            </div>
                            <p id="gauge-label"></p>
                        </div>
                        <div class="text-container">
                            <p> Détails des mouvements parasites : </p>
                        </div>
                        <!-- Ajoutez ici les informations que vous souhaitez afficher -->
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>

    <!-- Chargement du script Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>



    <!-- Scripts spécifiques pour chaque graphique -->
    <script src="{{ url_for('static', filename='js/PPG_Analysed.js') }}"></script>
    <script src="{{ url_for('static', filename='js/EMG_Analysed.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Accel_Analysed.js') }}"></script>

</body>

</html>
