<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Sleevy - Joueur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_main_joueur.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Ajout de Chart.js -->
</head>

<body class="gradient-background">
    <div class="side-bar-container">
        <div class="side-bar">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/mascotte.png') }}" alt="Mascotte">
            </div>
            <div class="button-container">
                <form action="{{ url_for('logout') }}" method="POST" class="logout-form">
                    <button type="submit" class="button" id="button3">
                        <img src="{{ url_for('static', filename='images/house.png') }}" alt="Exit">
                    </button>
                </form>
                <button class="button" id="button2" onclick="window.location.href='/joueurs';" >
                    <img src="{{ url_for('static', filename='images/back.png') }}" alt="Setting">
                </button>
                <button class="button" id="button3" onclick="window.location.href='/portal_joueur';" >
                    <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Exit">
                </button>
            </div>
        </div>
    </div>

    <div class="huge-container">
    <main>
        <div class="header-container">
            <div class="title">Bienvenue {{ player.pseudo }}</div>
            <div class="logout-container">
                <form action="{{ url_for('logout') }}" method="POST">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </div>
        </div>
    </main>

    <!-- Conteneur pour aligner les boutons -->
    <div class="button-container2">
        <div class="input-data">
            <div class="inner"></div>
            <form action="{{ url_for('start', idjoueur=player.idjoueur) }}" method="get">
                <input type="submit" class="submit" value="Lancer l'enregistrement">
            </form>
        </div>

        <div class="input-data">
            <div class="inner"></div>
            <form id="stop-recording-form" action="{{ url_for('stoprec', idjoueur=player.idjoueur) }}" method="get">
                <input type="submit" class="submit" value="Stopper l'enregistrement">
            </form>
        </div>

        <div class="input-data">
            <div class="inner"></div>
            <form action="{{ url_for('start2', idjoueur=player.idjoueur) }}" method="get">
                <input type="submit" class="submit" value="Etalonnage">
            </form>
        </div>
        
        <div class="performances-analyse">
            <div class="inner"></div>
            <form action="{{ url_for('analyse_performance') }}" method="GET">
                <input type="submit" class="submit" value="Analyse de performance">
            </form>
        </div>
    </div>

    <div class="square">
        <div class="container1">
            <div class="section-title">Dernière Partie :
                <span class="tooltip">🛈
                    <span class="tooltip-text">
                        <p>Vous pouvez visualiser les données brutes de votre dernière partie.</p>
                        <p>Si vous souhaitez avoir une analyse détaillée, veuillez cliquer sur 'Analyse de performance'.</p>
                    </span>
                </span>
            </div>
            <div class="graph-container">
                <div class="graph-container-ppg">
                    <canvas id="myChartPPG" width="500" height="250"></canvas>
                </div>
                <div class="graph-container-emg">
                    <canvas id="myChartEMG" width="500" height="250"></canvas>
                </div>
                <div class="graph-container-accel">
                    <canvas id="myChartAccel" width="500" height="250"></canvas>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="section-title">Historique :</div>

            <!-- Tableau affiché en permanence sous Historique -->
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Numéro de la partie</th>
                        <th>Début de la session</th>
                        <th>Fin de la session</th>
                        <th>Détail de la Session</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in sessions %}
                    <tr>
                        <td>{{ session.gamenumber }}</td>
                        <td>{{ session.starttime }}</td>
                        <td>{{ session.endtime }}</td>
                        <td>
                            <a href="{{ url_for('detail_joueur', session_id=session.session_id) }}" class="detail-link">
                                Détail session
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>

    <!-- Chargement du script Chart.js personnalisé -->
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
</body>

</html>
