<!DOCTYPE html>
<html lang="fr">

<head>
   
    <meta charset="UTF-8">
    <title>Sleevy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_register_coach.css') }}">
</head>

<body class="gradient-background">
    <main>
        Sleevy
    </main>
        <div class="form">
        <div class="subtitle">Connectez-vous à votre profil</div>
        <div class="container">
        <form action='/register_coaches' method="post">
            <div class="input-container ic1">
                <input name="username" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="username" class="placeholder">Pseudo</label>
            </div>
            <div class="input-container ic2">
                <input name="password" class="input" type="password" placeholder=" " />
                <div class="cut_1"></div>
                <label for="password" class="placeholder">Mot de passe</label> 
                
            </div>
            <div class="form-row submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" class='submit' value="Se connecter">
                </div>
            </div>
        </div>
        </form>
        </div>
     

    </div>
</body>

</html>